    <footer id="footer">
        <div class="footer-block">
            <div class="container">
                <div class="footer-box">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="footer_info">
                                <div class="logo_box">
                                    <img src="assets/images/logo.webp">
                                </div>
                                <ul class="social">
                                    <li><a href=""><i class="fab fa-facebook"></i></a></li>
                                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                                    <li><a href="" class="cricle"><i class="fab fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="footer_links text-center">
                                <h4>Useful Links</h4>
                                <ul>
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="">Useful Links</a></li>
                                    <li><a href="">Useful Links</a></li>
                                    <li><a href="">Useful Links</a></li>
                                    <li><a href="">Useful Links</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="footer_forms">
                                <h4>Join Early Access</h4>
                                <form>
                                    <div class="forms_box">
                                        <div class="input-box">
                                            <input type="email" name="" class="form-control" placeholder="Enter your Email Address">
                                        </div>                                        
                                        <button class="btn btn-gradint" type="submit">Join Early Access</button>
                                    </div>
                                </form>
                                <h4>Register Now</h4>
                                <ul>
                                    <li><a href=""><img src="assets/images/android.webp"></a></li>
                                    <li><a href=""><img src="assets/images/ios.webp"></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>        
        </div>
        <div class="copyright">
            <p>&COPY; <?php echo date('Y'); ?> | All Rights Reserved</p>
        </div>
    </footer>

    
    <script src="assets/js/tmStickUp.js"></script>
    <script src="assets/js/jquery.bxslider.js"></script>
    <script src="assets/js/owl.carousel.min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.fancybox.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/wow.js"></script>

    <script src="https://kit.fontawesome.com/5346ab3c82.js" crossorigin="anonymous"></script> 
    
    <script type="text/javascript">
         wow = new WOW(
         {
             animateClass: 'animated',
             offset:       100,
             callback:     function(box) 
             {
               //console.log("WOW: animating <" + box.tagName.toLowerCase() + ">")
             }
         }); wow.init();
    </script>
</body>
</html>