<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="author" content="">
        <!-- color  -->
        <meta name="theme-color" content="">    
        <meta name="msapplication-navbutton-color" content="">
        <meta name="apple-mobile-web-app-status-bar-style" content=""> 

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet"> 

        <link rel="stylesheet" href="assets/fonts/font.css">
        <link rel="stylesheet" href="assets/style/animate.css">
        <link rel="stylesheet" href="assets/style/font-awesome-animation.min.css">
        <link rel="stylesheet" href="assets/style/bootstrap.min.css">
        <link rel="stylesheet" href="assets/style/bootstrap-grid.min.css">
        <link rel="stylesheet" href="assets/style/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/style/owl.theme.default.min.css">
        <link rel="stylesheet" href="assets/style/jquery.bxslider.css">
        <link rel="stylesheet" href="assets/style/jquery.fancybox.min.css">
        <link rel="stylesheet" href="assets/style/style.css">
        <link rel="stylesheet" href="assets/style/responsive.css">

        <script src="assets/js/jquery.min.js"></script>
    </head>
    <body>
        
    <header id="header">
        <div class="header-block home">
            <div class="container">
                <div class="header-box">
                    <div class="logo-box">
                        <img src="assets/images/logo.webp">
                    </div>
                    <div class="main-nav">
                        <nav id="nav">
                           <a href="#" class="menu-icon"><span></span><span></span><span></span></a>
                           <ul>
                              <li><a href="/index">Home</a></li>
                              <li><a href="/registers">Official Host</a></li>
                              <li><a href="/diamondpurchase">Diamond Purchase</a></li>
                              <li><a href="">Support</a></li>
                              <div class="apk_btn">
                                <li><a href="https://play.google.com/store/games"><img src="assets/images/android.webp"></a></li>
                                <li><a href="https://www.apple.com/in/app-store/"><img src="assets/images/ios.webp"></a></li>
                            </div>
                           </ul>                                                         
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>