<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
      <section id="about">
      <div class="about-block">
          <div class="container">
              <div class="about-box">
                  <div class="row">
                      <div class="col-md-6">
                          <div class="about-content">
                              <div class="content-title">
                                  <h1>Lorem Ipsum is simply dummy</h1>
                              </div>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book..</p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="about-image-box">
                              <div class="about_img">
                                  <img src="assets/images/about.webp">
                              </div>
                              <div class="logo">
                                  <img src="assets/images/logo.webp">
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  
  <section id="ourmission">
      <div class="ourmission-block">
          <div class="container">
              <div class="ourmission-box">
                  <div class="row">
                      <div class="col-md-4">
                          <div class="ourmission_hed">
                              <h1>Our Mission</h1>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="ourmission_content">
                              <div class="ourmission_box">
                                  <h4>Our Mission</h4>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              </div>
                          </div>
                      </div>
                      <div class="col-md-4">
                          <div class="ourmission_content">
                              <div class="ourmission_box">
                                  <h4>Our Mission</h4>
                                  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="comingsoon_box">
                  <div class="content-title">
                      <h1>Coming Soon</h1>
                  </div>
                  <div class="download_box">
                      <ul>
                          <li><a href=""><img src="assets/images/android.webp"></a></li>
                          <li><a href=""><img src="assets/images/ios.webp"></a></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </section>
</body>
</html>