<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>diamondpurchase</title>
</head>
<body>
    <section id="registers">
    <div class="registers-block bg">
        <div class="container">
            <div class="registers-box">
                <div class="row">
                    <div class="col-md-7">
                        <div class="forms_boxs d-purchase">
                            <form>
                                <div class="forms_elements">
                                    <div class="headings">
                                        <h4>Uplift your favorite celebrities with lavish Diamonds.</h4>
                                        <p>Purchase diamonds on our platform which can be used to support your favorite celebrities and express yourselves towards great talents.</p>
                                    </div>

                                    <div class="formsboxs">
                                        <label>Enter Mor ID</label>
                                        <input type="text" name="" class="form-control">
                                        <p><i class="fas fa-check-circle"></i> Display Name</p>
                                    </div>
                                    <div class="formslinks">
                                        <p><input type="checkbox" name=""> Lorem Ipsum is simply <a href="">dummy</a> text of the <a href="">printing</a> and</p>
                                    </div>
                                    <div class="button-boxs">
                                        <a href="/selectdiamond" class="btn btn-gradint">Continue</a>
                                    </div>
                                </div>
                            </form>
                            <div class="footer_links">
                                <p><a href="/privacypolicy">Privacy Policy</a> <span>|</span> <a href="/termsconditions">Terms and Conditions</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div id="gallerys">
                            <div id="gallerys_boxs">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/1.jpg">
                                        </div>
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/2.jpg">
                                        </div>
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/3.jpg">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/4.jpg">
                                        </div>
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/5.jpg">
                                        </div>
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/6.jpg">
                                        </div>
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/7.jpg">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/8.jpg">
                                        </div>
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/9.jpg">
                                        </div>
                                        <div class="gallery_box">
                                            <img src="assets/images/gallery/10.jpg">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
    
</body>
</html>