<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>faq</title>
</head>
<body>
      <section id="banner">
      <div class="banner-block bg">
          <div class="container">
              <div class="banner-box">
                  <div class="section-title">
                      <h1>Frequently Asked Questions</h1>
                  </div>
                  <form>
                      <div class="search_boxs">
                          <input type="search" class="form-control" placeholder="Type something here">
                          <i class="fa fa-search"></i>
                      </div>
                  </form>
              </div>
          </div>
      </div>
  </section>
  

  <section id="faq">
      <div class="faq-block">
          <div class="container">
              <div class="faq-box">
                  <div class="row">
                      <div class="col-md-3 left_panel">
                          <div class="offsets_naves">
                              <ul>
                                  <li><a href="">Application</a></li>
                                  <li><a href="">Payment</a></li>
                                  <li><a href="">Account</a></li>
                                  <li><a href="">Hosting</a></li>
                                  <li><a href="">Others</a></li>
                                  <li><a href="">Others</a></li>
              
                              </ul>
                          </div>
                      </div>
                      <div class="col-md-9 right_panel">
                          <div class="faq_list_boxs">
                              <div class="faq_boxs">
                                  <h4>Application</h4>
                                  <div id="accordion" class="accordion">
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link" data-toggle="collapse" href="#collapse1" aria-expanded="true">How can I purchase diamonds?</a>
                                          </div>
                                          <div class="collapse show" data-parent="#accordion" id="collapse1">
                                              <div class="card-body faq_content">
                                                  <p>Diamonds can be purchased by visiting your profile and tapping on my wallet ->Diamonds-> recharge to top up.</p>
                                                  <p>You can also purchase diamonds from the gift box on any broadcast room. When you choose to send gift with insufficient balance, an option to recharge will be available.</p>
                                              </div>
                                          </div>
                                      </div>                        
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#collapse2">How can I get beans?</a>
                                          </div>
                                          <div class="collapse" data-parent="#accordion" id="collapse2">
                                              <div class="card-body faq_content">
                                                  <p>Beans can be purchased by cash. When viewers sent you gifts, the gifts will have same value of diamonds and become beans and will be saved in your wallet.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#collapse3">How do I Level up?</a>
                                          </div>
                                          <div class="collapse" data-parent="#accordion" id="collapse3">
                                              <div class="card-body faq_content">
                                                  <p>You can level up by completing the daily tasks in the task board.</p>
                                                  <p>Everyday check-in can get you 10xp points</p>
                                                  <p>Sending gifts can get you (1 Diamond = 6xps, for VIP 1 Diamond = 8xps)</p>
                                                  <p>Receiving gifts can get you (1 Bean = 4xps, for VIP 1 Bean = 5)</p>
                                                  <p>Playing Fame Fight (F2) can get more XPs</p>
                                                  <p>Sharing live on other social platforms</p>
                                                  <p>Daily Star completion can fetch more XPs.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#collapse4">How do I encash my diamonds?</a>
                                          </div>
                                          <div class="collapse" data-parent="#accordion" id="collapse4">
                                              <div class="card-body faq_content">
                                                  <p>You can cash out your diamonds by visiting your profile page and tapping on ‘wallet’-> diamond->Choose domination->Redeem.</p>
                                                  <p>If bank details are not captured for the first time, you will be prompted to enter bank details.</p>
                                                  <p>The encashed amount will be credited in to your bank account within 6 working days.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#collapse5">What should I do if I am banned?</a>
                                          </div>
                                          <div class="collapse" data-parent="#accordion" id="collapse5">
                                              <div class="card-body faq_content">
                                                  <p>Visit our support page on our website for any appeal on Ban.</p>
                                                  <a href="www.morindia.live/support">www.morindia.live/support</a>
                                              </div>
                                          </div>    
                                      </div>
                                  </div> 
                              </div>
                              <div class="faq_boxs">
                                  <h4>Payment</h4>
                                  <div id="transaction" class="accordion">
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link" data-toggle="collapse" href="#transaction1" aria-expanded="true">I recharged, but I haven’t received the diamonds?</a>
                                          </div>
                                          <div class="collapse" data-parent="#transaction" id="transaction1">
                                              <div class="card-body faq_content">
                                                  <p>Please submit your issue via <b>“Help and Support”</b> with the following information and our customer service will help you with it.</p><br>
                                                  <p>a. Top up amount.</p>
                                                  <p>b. Time and date of top up.</p>
                                                  <p>c. Screenshot of the payment channel.</p>
                                              </div>
                                          </div>
                                      </div>                        
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction2">My account is frozen how to unfreeze it?</a>
                                          </div>
                                          <div class="collapse" data-parent="#transaction" id="transaction2">
                                              <div class="card-body faq_content">
                                                  <p>a. There is a fraudulent order or a malicious refund has occurred.</p>
                                                  <p>b. The recharge was not done by you.</p>
                                                  <p>Please submit your query for unfreezing through “Help and Support” if you have any other questions please report through “Help and support” our customer service team will handle it for you.</p>
                                                  <a href="www.morindia.live/support">Click</a> to submit query
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction3">What are the payment channels available for recharge?</a>
                                          </div>
                                          <div class="collapse" data-parent="#transaction" id="transaction3">
                                              <div class="card-body faq_content">
                                                  <p>You can recharge your wallet using multiple payment channels:  Paytm, phonepe, Google Pay, UPI, Debit card and Credit card.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction4">I cannot top up what should I do?</a>
                                          </div>
                                          <div class="collapse" data-parent="#transaction" id="transaction4">
                                              <div class="card-body faq_content">
                                                  <p>Please submit your issue via <b>“Help and Support”</b> with the following information and our customer care will help with it.</p><br>
                                                  <p>a. Top up date and time.</p>
                                                  <p>b. Top up method.</p>
                                                  <p>c. Screenshot of the failed notification.</p>
                                                  <p>d. Order amount.</p><br>
                                                  <p>If you are not able to recharge via mobile app please try recharging on our website</p><a href="www.morindia.live">www.morindia.live</a>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction5">My diamonds/beans disappeared, what happened?</a>
                                          </div>
                                          <div class="collapse" data-parent="#transaction" id="transaction5">
                                              <div class="card-body faq_content">
                                                  <p>Please tell us the time when your diamonds/beans disappeared and submit the issue via <b>“Help and Support”</b> our customer service will help you find out the reason.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction6">I exchanged diamonds/reward to my account, but haven’t received the money in my bank account?</a>
                                          </div>
                                          <div class="collapse" data-parent="#transaction" id="transaction6">
                                              <div class="card-body faq_content">
                                                  <p>Please submit your issue via <b>“Help and Support”</b> with the following information and our customer service will help you solve the problem.</p><br>
                                                  <p>a. Date and time of withdrawal.</p>
                                                  <p>b. Method of withdrawal.</p>
                                                  <p>c. Transaction RF number.</p><br>
                                              </div>
                                          </div>    
                                      </div>
                                  </div> 
                              </div>
                              <div class="faq_boxs">
                                  <h4>Account</h4>
                                  <div id="account" class="accordion">
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction1" aria-expanded="true">My account has been hacked what should I do?</a>
                                          </div>
                                          <div class="collapse" data-parent="#account" id="transaction1">
                                              <div class="card-body faq_content">
                                                  <p>Please navigate to the support page on our website www.morindia.live or if you have access to your account on the mobile go to <b>Profile->Settings->Help and Support</b> choose the relevant category, provide the required information and submit. Our customer service team will deal with it within 3 working days. You can check the result in my appeal later.</p>
                                              </div>
                                          </div>
                                      </div>                        
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction2">How can I keep my account more secure?</a>
                                          </div>
                                          <div class="collapse" data-parent="#account" id="transaction2">
                                              <div class="card-body faq_content">
                                                  <p>Here are few things you can do to keep your account secure.</p><br>
                                                  <p>a. Do not trust any messages from Non official account and never click suspicious links in the message.</p>
                                                  <p>b. Connect your MOR account with your phone number only.</p>
                                                  <p>c. If you find your account is in an abnormal state please change your MOR password as soon as possible, and connect your MOR account with your phone number. De-link any device linked to your account by navigating to <b>Profile->Settings->Device Manager</b>.</p>
                                                  <p>d. If you cannot log in via your connected phone number please contact our customer service for help via <b>“Help and Support”</b> on the website www.morindia.live .</p>
                                                  <p>e. Never buy or sell MOR accounts, never give away your login info (eg username and password). And never share your MOR account with others eg. Share your MOR account with offers to support the host or to raise your MOR level. Such an act can attract Account Ban.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction3">How to connect/disconnected the 3rd party app account from MOR live?</a>
                                          </div>
                                          <div class="collapse" data-parent="#account" id="transaction3">
                                              <div class="card-body faq_content">
                                                  <p>You can connect/disconnect your 3rd party app account by visiting your <b>Profile->Settings->Accounts Management</b>. You need to ensure your MOR account has been connected with your phone number before you disconnect your 3rd party app account.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction4">How can I change or reset my login password?</a>
                                          </div>
                                          <div class="collapse" data-parent="#account" id="transaction4">
                                              <div class="card-body faq_content">
                                                  <p>If you are logged in with your phone number please visit your Profile->Settings->Accounts Management ->change password. Or can use forget password in the login page.</p><br>
                                                  <p>If you are logged in with 3rd party app accounts example FB Google please login to your 3rd party app and change your account password or contact the 3rd party apps customer service for help.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction5">How to delete my more account?</a>
                                          </div>
                                          <div class="collapse" data-parent="#account" id="transaction5">
                                              <div class="card-body faq_content">
                                                  <p>If you decide to delete your account please you have 2 options to choose, Soft delete and Permanent delete. Soft delete, your account will be temporarily deleted and you can retrieve your account any time by simple OTP verification. Permanent delete, your account will be on hold for 20 days, you can request support team to retrieve your account within 20 days after which your account will be permanently deleted.  After Permanent deletion you will not be able to login, activate, use or restore this account please operate carefully.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction6">Can I change my more ID?</a>
                                          </div>
                                          <div class="collapse" data-parent="#account" id="transaction6">
                                              <div class="card-body faq_content">
                                                  <p>No, you cannot change MOR ID, MOR ID is a unique identification number generated by the app.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction7">How can I recover the loss of a stolen account?</a>
                                          </div>
                                          <div class="collapse" data-parent="#account" id="transaction7">
                                              <div class="card-body faq_content">
                                                  <p>If your account has been stolen and recovered within the past 15 days please contact support on the website www.morindia.live  and explain the situation, our staff will try to help you recover the loss of the stolen account.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction8">I forgot my exchange password how to reset it?</a>
                                          </div>
                                          <div class="collapse" data-parent="#account" id="transaction8">
                                              <div class="card-body faq_content">
                                                  <p>Please follow the steps, <b>Profile->Wallet->Bean->Exchange->Verify->Reset Pin</b> enter the OTP and create a new PIN.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                  </div> 
                              </div>
                              <div class="faq_boxs">
                                  <h4>Hosting</h4>
                                  <div id="hosting" class="accordion">
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction1" aria-expanded="true">How can I increase my popularity in MOR live?</a>
                                          </div>
                                          <div class="collapse" data-parent="#hosting" id="transaction1">
                                              <div class="card-body faq_content">
                                                  <p>Everyone has opportunity to show up in Star Live here are few suggestions for you.</p><br>
                                                  <p>a. Enriching your live content by actively interacting with your viewers will increase your chances to be recommended for Star Live.</p>
                                                  <p>b. Choose an interesting and clear cover photo that will help you stand out.</p>
                                                  <p>c. Promote your broadcast by sharing the link on other social networks such as Instagram, Facebook and Twitter. Invite your friends to watch you go live and gain viewers in your broadcast.</p>
                                                  <p>d. Additionally we have Hot live to make your live stream gain popularity, receiving gifts and more audience will increase your popularity value, and you will increase your chance of being on the popular list or country list.</p>
                                              </div>
                                          </div>
                                      </div>                        
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction2">What is a private room? Who can join?</a>
                                          </div>
                                          <div class="collapse" data-parent="#hosting" id="transaction2">
                                              <div class="card-body faq_content">
                                                  <p>The private room will not be seen or joined by any user unless invited. In the private room the host and viewers should comply with the local laws and regulations as well as community guidelines of MOR live. Action can be taken if there are any violations.</p><br>
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction3">How can I go live in a private room?</a>
                                          </div>
                                          <div class="collapse" data-parent="#hosting" id="transaction3">
                                              <div class="card-body faq_content">
                                                  <p>When you are prepared to go live you will see lock icon on the upper right side of the tag, click on the lock icon and you will enter the private room. The private room will not be seen or joined by any users unless invited.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction4">How can I hide my location?</a>
                                          </div>
                                          <div class="collapse" data-parent="#hosting" id="transaction4">
                                              <div class="card-body faq_content">
                                                  <p>You can hide your location by tapping on profile <b>Setting->Privacy->Hide location</b>.</p><br>
                                                  
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction5">I cannot receive notifications from MOR live.</a>
                                          </div>
                                          <div class="collapse" data-parent="#hosting" id="transaction5">
                                              <div class="card-body faq_content">
                                                  <p>Please confirm whether you have enabled push notifications for MOR live. Go to <b>Profile->Setting->Notification</b>. On your phone notifications check permission approval information.</p>
                                              </div>
                                          </div>    
                                      </div>                                                                       
                                  </div> 
                              </div>
                              <div class="faq_boxs">
                                  <h4>Others</h4>
                                  <div id="other" class="accordion">
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction1" aria-expanded="true">Under what circumstances will I be banned?</a>
                                          </div>
                                          <div class="collapse" data-parent="#other" id="transaction1">
                                              <div class="card-body faq_content">
                                                  <p>Your account will be banned if you violate the community standards of MOR live. Please read the detailed community standards before you go live in profile settings about us. If you see any violations please reported to us so we can investigate the issue at once.</p>
                                              </div>
                                          </div>
                                      </div>                        
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction2">How to report?</a>
                                          </div>
                                          <div class="collapse" data-parent="#other" id="transaction2">
                                              <div class="card-body faq_content">
                                                  <p>You can do this by tapping on the user’s name and click on manage and navigate to the report icon on the right corner of the users short profile and by clicking 3 dots on the full profile.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction3">Can I use the MOR live logo as my profile picture?</a>
                                          </div>
                                          <div class="collapse" data-parent="#other" id="transaction3">
                                              <div class="card-body faq_content">
                                                  <p>Unfortunately, we prohibit use of certain images and names as part of a user’s account information without approval. if you use more logo as your avatar,  your avatar will be banned.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction4">I found a user showing inappropriate contents which violates the regulations what should I do?</a>
                                          </div>
                                          <div class="collapse" data-parent="#other" id="transaction4">
                                              <div class="card-body faq_content">
                                                  <p>You may report the user in accordance with the instructions below.</p><br>
                                                  <p>a. Report improper live streaming content, broadcast room click the broadcasters avatar click the report icon in the small profile.</p>
                                                  <p>b. Report improper avatar, users profile page click the 3 dots icon at the right top corner, report.</p>
                                                  <p>c. Report the improper posts and comments.</p>
                                                  <p>d. Report posts, go into the post page take a screenshot go to user profile page click the 3 dots icon at the right top corner and report, attach the screenshot, write a description and submit.</p>
                                                                                                   
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction5">The user is harassing me, what can I do?</a>
                                          </div>
                                          <div class="collapse" data-parent="#other" id="transaction5">
                                              <div class="card-body faq_content">
                                                  <p>Go into the users profile click the 3 dots icon on the right top corner select block to block the user.</p>
                                                  <p><b>Note:</b>  once you block the user He/She cannot send you a message, follow each other and is prohibited from entering your room. You can cancel it in settings block list.</p>
                                              </div>
                                          </div>    
                                      </div>  
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction6">The user Is sending improper/harassing messages to me how to solve it?</a>
                                          </div>
                                          <div class="collapse" data-parent="#other" id="transaction6">
                                              <div class="card-body faq_content">
                                                  <p>If the user sends the improper/harassing messages to you, you can report or block the user. Please check below instructions report</p>
                                                  <p>Use <b>“Help and Support”</b> service to report any improper or harassing messages to you by any user write a small description of the type of harassment and attach screenshot of it and submitted to the support team, our support team will look into the matter and act accordingly.</p>
                                              </div>
                                          </div>    
                                      </div>                                                                           
                                  </div> 
                              </div>
                              <div class="faq_boxs">
                                  <h4>Others</h4>
                                  <div id="others" class="accordion">
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction1" aria-expanded="true">Why haven’t I received my activity rewards?</a>
                                          </div>
                                          <div class="collapse" data-parent="#others" id="transaction1">
                                              <div class="card-body faq_content">
                                                  <p>Your account will be banned if you violate the community standards of MOR live. Please read the detailed community standards before you go live in profile settings about us. If you see any violations please reported to us so we can investigate the issue at once.</p>
                                              </div>
                                          </div>
                                      </div>                        
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction2">How to apply for star live?</a>
                                          </div>
                                          <div class="collapse" data-parent="#others" id="transaction2">
                                              <div class="card-body faq_content">
                                                  <p>If you want to perform in Star live please request your club head to apply on your behalf a confirmation on this will be sent to you via notification.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction3">Why cannot I send messages?</a>
                                          </div>
                                          <div class="collapse" data-parent="#others" id="transaction3">
                                              <div class="card-body faq_content">
                                                  <p>If you cannot send messages, there maybe a few reasons.</p><br>
                                                  <p>a. There are sensitive words in the message, and modifying your message would be a suggestion.</p>
                                                  <p>b. You cannot send messages, photos or videos if you have a bad network or using a older version of the app.</p>
                                                  <p>c. If someone has blocked you, you will not be able to send them messages.</p>
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction4">I have deleted the messages can I restore them?</a>
                                          </div>
                                          <div class="collapse" data-parent="#others" id="transaction4">
                                              <div class="card-body faq_content">
                                                  <p>Unfortunately, once the messages are deleted you cannot restore them.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction5">How to become VIP?</a>
                                          </div>
                                          <div class="collapse" data-parent="#others" id="transaction5">
                                              <div class="card-body faq_content">
                                                  <p>There are 4 types of VIPs Silver, Gold, Diamond and Platinum, choose one of them and subscribe/Purchase the required VIP using available Diamonds or by cash.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>  
                                      <div class="card">
                                          <div class="card-header">
                                              <a class="card-link collapsed" data-toggle="collapse" href="#transaction6">How to purchase VIP?</a>
                                          </div>
                                          <div class="collapse" data-parent="#others" id="transaction6">
                                              <div class="card-body faq_content">
                                                  <p>For both iOS users and Android users click on Become VIP in the profile page and follow the wallet/payment section to purchase VIP.</p>
                                                  
                                              </div>
                                          </div>    
                                      </div>                                                                           
                                  </div> 
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</body>
</html>