<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>selectdiamond</title>
</head>
<body>
    <section id="registers">
    <div class="registers-block bg">
        <div class="container">
            <div class="registers-box">
                <div class="row">
                    <div class="col-md-12">
                        <div class="forms_boxs selelct_diamond">
                            <form>
                                <div class="forms_elements">
                                    <div class="user_boxs">
                                        <ul>
                                            <li>
                                                <div class="user_img">
                                                    <img src="assets/images/users.jpg">
                                                </div>
                                            </li>
                                            <li>
                                                <div class="user-content">
                                                    <h4>[Display Name]</h4>
                                                    <p>[Mor ID]</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="formsboxs">                                        
                                        <label>Recharging MOR ID: 45678654FDSA    <a href="" class="links">Change User</a></label>
                                        <div id="diamonds" class="diamonds_boxs">
                                            <ul>
                                                <li>
                                                    <div class="diamonds_box">
                                                        <input type="checkbox" name="diamonds" value="25.25">
                                                        <div class="diamonds_content">
                                                            <h4><img src="assets/images/diamonds.png">75</h4>
                                                            <p>₹ 25.50</p>
                                                        </div>
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="diamonds_box">
                                                        <input type="checkbox" name="diamonds" value="25.25">
                                                        <div class="diamonds_content">
                                                            <h4><img src="assets/images/diamonds.png">75</h4>
                                                            <p>₹ 25.50</p>
                                                        </div>
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="diamonds_box">
                                                        <input type="checkbox" name="diamonds" value="25.25" checked>
                                                        <div class="diamonds_content">
                                                            <h4><img src="assets/images/diamonds.png">75</h4>
                                                            <p>₹ 25.50</p>
                                                        </div>
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="diamonds_box">
                                                        <input type="checkbox" name="diamonds" value="25.25">
                                                        <div class="diamonds_content">
                                                            <h4><img src="assets/images/diamonds.png">75</h4>
                                                            <p>₹ 25.50</p>
                                                        </div>
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="diamonds_box">
                                                        <input type="checkbox" name="diamonds" value="25.25">
                                                        <div class="diamonds_content">
                                                            <h4><img src="assets/images/diamonds.png">75</h4>
                                                            <p>₹ 25.50</p>
                                                        </div>
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="diamonds_box">
                                                        <input type="checkbox" name="diamonds" value="25.25">
                                                        <div class="diamonds_content">
                                                            <h4><img src="assets/images/diamonds.png">75</h4>
                                                            <p>₹ 25.50</p>
                                                        </div>
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="diamonds_box">
                                                        <input type="checkbox" name="diamonds" value="25.25">
                                                        <div class="diamonds_content">
                                                            <h4><img src="assets/images/diamonds.png">75</h4>
                                                            <p>₹ 25.50</p>
                                                        </div>
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="diamonds_box">
                                                        <input type="checkbox" name="diamonds" value="25.25">
                                                        <div class="diamonds_content">
                                                            <h4><img src="assets/images/diamonds.png">75</h4>
                                                            <p>₹ 25.50</p>
                                                        </div>
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="diamonds_box">
                                                        <input type="checkbox" name="diamonds" value="25.25">
                                                        <div class="diamonds_content">
                                                            <h4><img src="assets/images/diamonds.png">75</h4>
                                                            <p>₹ 25.50</p>
                                                        </div>
                                                        <i class="fas fa-check-circle"></i>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="button-boxs">
                                        <a href="" id="paybtn" class="btn btn-gradint">Continue to pay  ₹<span>25.25</span></a>
                                    </div>
                                </div>
                            </form>
                            <div class="footer_links">
                                <p><a href="/privacypolicy">Privacy Policy</a> <span>|</span> <a href="/termsconditions">Terms and Conditions</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>